#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  #login-form-wrapper {
    width: 580px;
    min-height: 400px;
    padding: 40px;
    .img-wrapper {
      position: relative;
      top: -25px;
    }
    input[type=text]:focus,
    input[type=password]:focus {
      border-bottom: 1px solid #30A7D1;
      box-shadow: 0 1px 0 0 #30A7D1;
    }
    input[type=text]:focus+label,
    input[type=password]:focus+label {
      color: #30A7D1;
    }
  }
}
:host ::ng-deep .mat-ink-bar {
  background-color: #30A7D1 !important;
}

.mb-10 {
  margin-bottom: 10px;
}

::-webkit-input-placeholder {
  color: #8e8e8e;
}

::-moz-placeholder {
  color: #8e8e8e;
  opacity: 1;
}

:-moz-placeholder {
  color: #8e8e8e;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #8e8e8e;
  background-color: #8e8e8e;
}

@media only screen and (max-width: 600px) {
  #login-container {
    #login-form-wrapper {
      width: 80%;
      padding: 0px;
    }
  }
}

@media only screen and (max-width: 400px) {
  #login-container {
    #login-form-wrapper {
      width: 950%;
      padding: 0px;
    }
  }
}

